body {
	background-color: black;
}

#pond {
	width: 100%;
	height: 100vh;
	position: relative;
	overflow: hidden;
}

.ripple {
	will-change: transform;
	will-change: opacity;
	z-index: -1;
	border: 1px solid white;
	position: absolute;
	border-radius: 50%;
	animation-name: grow;
	animation-duration: 11s;
	animation-fill-mode: forwards;
}

@keyframes grow {
	0% { opacity: 0; }
	1% { opacity: 0; }
	20% { opacity: 1; }
	100% { transform: scale(10,10); opacity: 0;}
}